.container {
    display: flex;
    background-color: var(--color-secondary-shade4);
    margin: 0;
    max-width: 100%;
    height: 100vh;
}

.position {
    height: 100vh;
    position: fixed;
    top: 0;
}

.sidebar {
    flex: 2;
    margin: 25px 15px;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-contrast);
    flex: 14;
    margin: 8px;
    border-radius: 16px;
}

.content {  
    margin: 5px;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;
}

*::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}
