<div class="page--main">
    <div class="header">
      <div class="btn--back">
        <svg xmlns="http://www.w3.org/2000/svg" class="btn_back" width="24" height="24" viewBox="0 0 24 24" (click)="back()">
            <g id="vuesax_outline_arrow-left" data-name="vuesax/outline/arrow-left" transform="translate(-684 -188)">
              <g id="arrow-left">
                <path id="Vector" d="M6.817,13.637a.742.742,0,0,1-.53-.22L.218,7.347a.754.754,0,0,1,0-1.06L6.287.218a.75.75,0,0,1,1.06,1.06l-5.54,5.54,5.54,5.54a.754.754,0,0,1,0,1.06A.725.725,0,0,1,6.817,13.637Z" transform="translate(686.753 193.182)" fill="#292d32"/>
                <path id="Vector-2" data-name="Vector" d="M17.58,1.5H.75A.755.755,0,0,1,0,.75.755.755,0,0,1,.75,0H17.58a.755.755,0,0,1,.75.75A.755.755,0,0,1,17.58,1.5Z" transform="translate(686.92 199.25)" fill="#292d32"/>
                <path id="Vector-3" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(684 188)" fill="none" opacity="0"/>
              </g>
            </g>
          </svg>              
    </div>
    </div>
    <div class="container-team">
        <div class="content--header">
            <div class="iconTeam">
              <img [src]="'../../../../assets/pics/' + team.icon" alt="" class="iconCard">
            </div>
            <div class="titleCard">
              <h5 class="card-title">{{team.nom}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{team.leader_name}}</h6>
              <p class="nbrMember">{{team.nbr_member}} members</p>
            </div>
          </div>
          <div class="content--main">
            <div class="teamgoal">
              <span class="decorgoal"></span>
              <p class="teamGoal">Team's goal : </p>
              <p class="goal--text">{{team.goalTeam}}</p>
            </div>
            <div class="projects">
              <div class="projects--header">
                <span class="projectdecor"></span>
                <p class="teamGoal">Team's projects : </p>
              </div>
              <div class="projects--content">
                <div class="item" *ngFor="let item of items">
                  <app-project-content [item]="item"></app-project-content>
              </div>
              </div>
            </div>
          </div>
    </div>
</div>