<div class="item--tasks">
    <div class="task--detail task--detail--md">
      <div class="content--member">
        <p class="member"> member's name </p>
      </div>
      <div class="content--task">
        <p class="task"> task's name </p>
      </div>
      <div class="content--status">
        <p class="status">in progress</p>
      </div>
      <div class="content--date">
        <p class="date">24 dec 2023</p>
      </div>
      <div class="content--date">
        <p class="date">24 dec 2023</p>
      </div>
    </div>
  </div>