<div class="item--tasks">
    <div class="task--detail task--detail--md">
      <div class="content--member">
        <p class="member"> {{task.respo}} </p>
      </div>
      <div class="content--task">
        <p class="task">{{task.titre}} </p>
      </div>
      <div class="content--status">
        <p class="status">{{task.status}} </p>
      </div>
      <div class="content--date">
        <p class="date">{{task.date_debut}} </p>
      </div>
      <div class="content--date">
        <p class="date">{{task.date_fin}} </p>
      </div>
    </div>
  </div>