<div class="item--content item--content--md">
    <div class="quick--details quick--details--md">
      <div class="content--task">
        <p class="name__task">Project title 1 </p>
      </div>
    </div>
  
    <div class="task--details" >
      <div class="details--header">
        <p class="header__text text__member">member name</p>
        <p class="header__text text__task">task title</p>
        <p class="header__text text__status">status</p>
        <p class="header__text text__others">date debut</p>
        <p class="header__text text__others">date fin</p>
      </div>
      <div class="details--main">
        <div class="item" *ngFor="let _ of repeat(5); let i = index">
            <app-member-item></app-member-item>
        </div>
      </div>
  
    </div>
  
  </div>
  