.item--content p,h1{
    margin: 0px;
}

.item--content{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.item--content--md{
    background-color: var(--color-dark-contrast);
    padding: 15px 15px;
    margin: 5px 0px 12px;
    border-radius: 16px;
    box-shadow: -2px 2px 5px 1px var(--color-dark-tint5);
}

.quick--details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn--download{
    padding: 10px 18px;
}

.btn_down{
    padding: 8px 12px;
    border: none;
    background-color: var(--color-tertiary);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.icon-file{
    width: 20px;
    height: 20px;
    fill: white;
    margin-bottom: 2px;
}

.plus--details{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECECEC;
    padding: 6px;
    border-radius: 8px;
    margin-left: 10px;
}

.content--task{
    display: flex;
    align-items: center;
    flex: 2;
}

.name__task{
    font-size: 18px;
    margin: 0px 18px!important;
}

.task--detail p, h1{
    margin: 0px;
}

.task--details{
    display: flex;
    flex-direction: column;
}

.details--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 20px 10px 0px;
}

.header__text{
    color: var(--color-dark-tint3);
    font-size: 13px;
}

.text__member{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
}

.text__task{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.text__status{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.text__others{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}


.modal-body{
    padding: 2px 12px;
}

.modal-title{
    color: var(--color-dark);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0!important;
}

.main-form {
    display: flex;
    flex-direction: column;
    flex: 14;
    padding: 6px 0;
    overflow-x: hidden;
}

.input-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 2px 8px;
    padding: 4px;
    width: 100%;
}

.input label {
    font-size: 16px;
    margin: 5px 7px;
}

.input input {
    display: flex;
    align-self: center;
    background-color: var(--color-dark-tint5);
    border: none;
    border-radius: 8px;
    padding: 8px 5px;
    width: 98%;
}

.form-select{
    display: flex;
    align-items: center;
    background-color: var(--color-dark-tint5);
    border: none;
    border-radius: 8px;
    padding: 8px 5px;
    width: 98%;
    margin-left: 4px;
}

.btn-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 2;
    padding: 8px;
}

.btn-footer button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

.add {
    background-color: var(--color-primary);
    border: none;
    color: #fff;
}





