.activity--content {
    display: flex;
    align-items: center;
}

.activity--content--md {
    background-color: var(--color-dark-contrast);
    width: 240px;
    height: 58px;
    border-radius: 12px;
    border: 1px solid var(--color-warning-tint1);
    margin: 10px 15px 0px 5px;
}

.content__img {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 15px;
    border: 1px solid var(--color-warning);
    border-radius: 5px;
    padding: 5px;
}

.content__title {
    color: rgba(0, 0, 0, 0.774);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
