.card{
    display: flex;
    align-items: center;
    width: 260px;
    height: 330px;
    margin: 10px;
    box-shadow: -2px 2px 4px 2px var(--color-dark-tint4);
}

.card img {
    width: 92%;
    height: 150px;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 2px;
    width: 100%;
}

.card-title{
    font-size: 19px;
    color: var(--color-secondary-shade3);
}

.card-text{
    font-size: 13px;
}

.item-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.date{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--color-dark-tint2);
    width: 55%;
    padding: 2px 0px;
}

.icons{
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.delete{
    cursor: pointer;
    color: var(--color-danger-tint1);
}

.icon-delete{
    width: 22px;
    height: 22px;
    fill: var(--color-danger-tint1);
}

.icon-edit{
    width: 22px;
    height: 22px;
    fill: var(--color-tertiary-shade2);
    cursor: pointer;
}

.progressBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:8px 15px 15px;
}

.progress{
    width: 100%;
}

.progress-bar{
    background-color: var(--color-tertiary-shade2)!important;
}

.text-dark{
    font-size: 12px;
    color: white!important;
}
