<div class="containerForm">
  <div class="formLogin">
    <div class="logo">

    </div>
    <div class="titles">
      <p id="title1">
        Welcome back!
      </p>
      <p id="title2">
        Log in to continue managing
      </p>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="staticEmail" placeholder="name@example.com">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword">
      </div>
    </div>
    <div class="rememberForgot">
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
          <label class="form-check-label" for="autoSizingCheck2">
            Remember Me
          </label>
        </div>
      </div>
      <div class="forgot">
        <a href="#" id="forgot">forgot Password?</a>
      </div>
    </div>
    <div class="btn_login">
      <button type="submit" id="btnLogin" routerLink="/espaceUser">Log In</button>
    </div>
    <div class="linkSignUp">
      <p class="txtSign">
        Don't have an account?
      </p> 
      <a href="#signupModal" data-toggle="modal" data-target="#signupModal" id="linkSign" routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>