<div class="containerForm">
  <div class="formLogin">
    <div class="logo">
      <img src="../../../assets/icons/logoside.png" alt="" class="logo_img">
    </div>
    <div class="titles">
      <p id="title1">
        Welcome back!
      </p>
      <p id="title2">
        Log in to continue managing
      </p>
    </div>
    <form class="form"  [formGroup]="formLogin" (ngSubmit)="login()">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input formControlName="email" type="email"class="form-control" id="staticEmail" placeholder="name@example.com" required>
        </div>
        <div class="alertEmail" *ngIf="emailincorrect">
          email incorrect
        </div>
        <div class="alertEmailSuc" *ngIf="emailcorrect" >
          email correct
        </div>
      </div>
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input formControlName="password" type="password" class="form-control" id="inputPassword" required>
        </div>
        <div class="alertPassword" *ngIf="passwordincorrect">
          password incorrect
        </div>
      </div>
      <div class="rememberForgot">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
            <label class="form-check-label" for="autoSizingCheck2">
              Remember Me
            </label>
          </div>
        </div>
        <div class="forgot">
          <a href="#" id="forgot">forgot Password?</a>
        </div>
      </div>
      <div class="btn_login">
        <button type="submit" id="btnLogin" [disabled]="!this.formLogin.valid">Log In</button>
      </div>
      <div class="linkSignUp">
        <p class="txtSign">
          Don't have an account?
        </p> 
        <a href="#signupModal" data-toggle="modal" data-target="#signupModal" id="linkSign" routerLink="/signup">Sign Up</a>
      </div>
    </form>

  </div>
</div>