<div class="container_project">
    <div class="ligneTitle">
        <div class="titlePage">
            <h1 id="titlepage">My Projects</h1>
            <span id="ligneTitle"></span>
        </div>
        <div class="btn_ajout">
            <button id="btn_ajoutProject"> Add project </button>
        </div>
    </div>
    <div class="searchFilter">

    </div>
    <div class="listProjects">
        <div class="itemProjet" *ngFor="let _ of repeat(6); let i = index" [routerLink]="'/projectDetail'">
            <app-project-item class="body__item"></app-project-item>
            
        </div>
    </div>
   
</div>
